/* Slides Show */


img {
    vertical-align: middle; /**/ 
}


.slideshow-container{
    width: calc(100% - 80px);
}

.slideshow-container img{
    margin: 20px 40px 0 40px;
    height: 570px;

    filter: brightness(40%);
}

/* SLIDE ONE*/

.slideshow-container .mySlides:nth-child(1) p:nth-child(2){
    color: whitesmoke;
    position: absolute;
    top:30%;
    left: 53%;
    transform: translate(-50%,-50%);
    text-align: center;

    font-size: 25px;
    font-style: italic;
    padding-bottom: 70px;
}

.slideshow-container .mySlides:nth-child(1) p:nth-child(3){
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 53%;
    transform: translate(-50%, -50%);

    text-align: center;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}


.slideshow-container .mySlides:nth-child(1)p span{
    color: var(--turquesa);
}

.call-to-action a{
    width: 150px;
    height: 40px;

    text-align: center;
    line-height: 25px;

    background: var(--turquesa);
    color: #000000;
    padding: 8px 20px;

    border-radius: 4px;
    letter-spacing: 1px;
    font-weight: lighter;

    position: absolute;
    top: 60%;
    left: 53%;
    transform: translate(-50%, -50%);

    text-decoration: none;
    transition: 0.4s;

}   
.call-to-action a:hover{
    background-color:#00CCD9;
}

/* SLIDE 2 */
.quote{
    background-color: rgba(0, 0, 0, .6);
    height: 5em;
    width: 700px;

    position: absolute;
    top: 35%;
    left: 23%;

    color: gainsboro;
    text-align: center;
    padding-top: 1em;

    border-radius: 5px;
    font-style: italic;
    font-size: 30px;
}

/* SLIDE 3*/

.slideshow-container .mySlides:nth-child(3) div{
    width: fit-content;
    display: flex;
    color: black;
}

.slideshow-container .mySlides:nth-child(3) div p{
    color: aliceblue;
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);

    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.slideshow-container .mySlides:nth-child(3) div ul{
    color: aliceblue;
    position: absolute;
    top: 50%;
    right: -17%;
    transform: translate(-50%, -50%);
}
.slideshow-container .mySlides:nth-child(3) div ul li{
    list-style: none;
    padding: 10px;
    font-size: 45px;

    letter-spacing: 3px;
    
}

/* Buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto; /**/
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease; /**/
    border-radius: 0 3px 3px 0;
    user-select: none; /**/ 
    background: gray;
}

.next {
    right: 60px;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 60px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* Dots */

.dot-container{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--blanquito);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: gray;
}

/* Animations */

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}



