/* .card__image {
  height: 200px;
}

.card__button {
  /* background-color: white;
  height: 100px; 
} 
*/
.card__button--save {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  opacity: 0.8;
  padding: 1rem;
  cursor: pointer;
}

.card__button--remove {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  opacity: 0.8;
  padding: 1rem;
  cursor: pointer;
}
