*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span{
    font-weight: bold;
    letter-spacing: 10px;
}

body{
    height: 100vh;
    display: flex;
}

h3{
    margin-bottom: 1rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3rem;
    color: black;
}

a{
    color: rgb(124, 81, 1);
    text-decoration: none;
    transition: .3s;
}

a:hover{
    font-weight: bolder;
    transition: .3s;
    opacity: 1;
}

label{
    font-family: 'Ysabeau', sans-serif;
}

.brand{
    font-family: 'Ysabeau', sans-serif;
}

.brand-container{
    padding-top: 8rem;
    height: 100%;
    width: 30vw;
    background-image: url('bg.jpg');
    background-size: cover;
    border-right: 1px solid black;
}

.brand-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: aliceblue;
    font-size: 30px;
    letter-spacing: 4px;
    gap: 1rem;

    background-color: rgb(31, 18, 18);
    opacity: 0.6;

    height: 7rem;
    width: 100%;    

}

.brand-logo p:nth-child(2){
    font-size: 13px;
    letter-spacing: 10px;
}

.brand-text{
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Ysabeau', sans-serif;

    color: rgb(219, 218, 218);
    width: 15rem;
    position: absolute;
    top: 47vh;
    left: 2vw;
}

.form-container{
    color: rgb(124, 121, 121);
    padding: 5rem 3rem;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form-pre-text{
    font-family: 'Ysabeau', sans-serif;
    gap: 8rem;
}


.form-inputs-container{
    display: flex;
    gap: 4rem;
}

/* #signupform input[type="text"], #signupform input[type="email"], #signupform input[type="phone"], #signupform input[type="password"] {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding: 3px;
    font-size: 16px;
    font-size: 1rem;
} */

input[type="text"], input[type="email"], input[type="phone"], input[type="password"] {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    margin-bottom: 1rem;
    padding: 6px;
    font-size: 16px;
    font-size: 1rem;
    width: 100%;
    transition: all 0.5s ease-in-out;
} 
:focus {
    outline: 1px solid gray;
} 

input[type="text"]:focus, input[type="email"]:focus, input[type="phone"]:focus, input[type="password"]:focus {
    background-color: #e4e0e0;
}


/* *{
    border: 1px solid red;
} */


 button[type="submit"] {
    background-color: transparent;
    border: 1px solid #8BC34A;
    color: #8BC34A;
    padding: 10px 15px;
    font-size: 16px;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    /* vertical-align: middle; */
    cursor: pointer;
    display: block;
    transition: .3s;
}
button[type="submit"]:hover {
    background-color: rgba(139, 195, 74, 0.25);
    border: 1px solid #8BC34A;
    transition: .3s;
}

.form-login{
    opacity: .5;
    font-family: 'Ysabeau', sans-serif;
}